/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.cat-top-img-desc span {
		font-size: 1.5em;
		margin-left: 1em;
	}
	.rooms-cat-num {
		font-size: 1em;
	}
	.cat-top-img-desc {
	height: 3em;
	margin-top: -3em;
}
	#myNavbar li a:after, #myNavbar li a::before {
		display: none;
	}
	.main-top-menu .navbar-nav li {
		 margin-right: 0;
		 margin-left: 0;
	}
	body{
		font-size: 170% !important;
	}
	.advantage .col-sm-6 {
		padding: 0 1em 0 1em !important;
	}

	.owl-nav{
		display: none;
	}
	.slider-bottom-info{
		margin-top: 0;

		letter-spacing: inherit;
		line-height: 16px;
		text-align: -webkit-center;
		text-align: center;
	}
	.mid-h{
		margin-top: 0.5em;
		font-size: 110%;
		margin-bottom: 1em;
	}
	.about-hotel .row {
		margin-top: 1em;
	}
	.advantage-info {

		padding: 1em 0.5em 1em 0.5em;
	}

	.navbar-collapse {
		padding-right: 2px;
		padding-left: 2px;
		text-align: center;
		text-align: -webkit-center;
		font-size: 65%;
	}
	.navbar-default .navbar-nav > li > a:focus {
		background-color: #d6d0d0;
	}
	#myNavbar ul li a:before{
		display:none;
	}
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

	.btn, .btn-default, .btn-detailed{
		font-size: medium !important;
	}
	.bron-row{
		padding-left: 5%;
		padding-right: 5%;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.slider-bottom-info{
		margin-top: 0;
		font-size: 40%;

		line-height: 10px;

	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}